<% include ../partials/header %>
<div id="records">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">自动遍历任务</h3>
                    </div>
                    <div class="panel-body">
                        <form id="record-form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="apk">待测应用</label>
                                <div class="col-sm-8">
                                    <select class="form-control m-b" name="apk_id" id="apk">
                                        <% apks.forEach(function(apk){ %>
                                        <option value="<%= apk._id %>"><%= apk.name %></option>
                                        <% });%>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="device">设备</label>
                                <div class="col-sm-8">
                                    <select class="form-control m-b" name="device_id" id="device">
                                        <% devices.forEach(function(device){ %>
                                        <option value="<%= device.id %>"><%= device.name %></option>
                                        <% });%>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="action_count">Actions</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" name="action_count"  id="action_count" value="1000">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="algorithm">遍历算法</label>

                                <div class="col-sm-8">
                                    <select class="form-control m-b" name="algorithm" id="algorithm">
                                        <option value="dfs">DFS(Depth First)</option>
                                        <option value="prm">PRM(Pure Random Monkey)</option>
                                        <option value="rm">RM(Random Monkey)</option>
                                        <option value="qlm">QLM(QLearning Monkey)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="setup">前置动作</label>

                                <div class="col-sm-8">
                                    <select class="form-control m-b" name="setup" id="setup">
                                        <option value="">无</option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-4 control-label" for="setup">黑名单</label>-->

                                <!--<div class="col-sm-8">-->
                                    <!--<div class="checkbox">-->
                                        <!--<label>-->
                                            <!--<input type="checkbox" value="">-->
                                            <!--blacklist-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button id="btn-create" type="submit" class="btn btn-primary" >
                                        创建任务
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">任务列表</h3>
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                设备ID
                            </th>
                            <th>
                                待测应用
                            </th>
                            <th>
                                Action数量
                            </th>
                            <th>
                                算法
                            </th>
                            <th>
                                状态
                            </th>
                            <!--                      <th>
                        创建时间
                    </th>
                    <th>
                        结束时间
                    </th> -->
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody id="record-table">
                        <% records.forEach(function(record, index) { %>
                        <tr>
                            <td>
                                <%= record.device_id %>
                            </td>
                            <td>
                                <%= record.apk_name %>
                            </td>
                            <td>
                                <%= record.action_count %>
                            </td>
                            <td>
                                <%= record.algorithm %>
                            </td>
                            <td>
                                <%= record.status %>
                            </td>
                           <td>
                                <% if(record.status === "ready"){ %>
                                <a href="#" class="btn-start btn btn-primary btn-xs" role="button"
                                   data-id="<%= record.id %>"
                                   data-device="<%= record.device_id %>"
                                   data-action="<%= record.action_count %>"
                                   data-package="<%= record.package_name %>"
                                   data-activity="<%= record.activity_name %>"
                                   data-algorithm="<%= record.algorithm %>"
                                   data-setup="<%= record.setup %>"
                                   data-blacklist="<%= record.blacklist %>"
                                   data-name="<%= record.app_name %>">开始</a>

                                <a href="#" class="btn-remove btn btn-danger btn-xs" role="button"
                                   data-id="<%= record.id %>">删除</a>
                                <% }else if(record.status === "success"){ %>
                                <a href="/records/<%= record.id %>/report" class="btn btn-info btn-xs"
                                   role="button">详细报告</a>
                                <a href="/records/<%= record.id %>/replay" class="btn btn-success btn-xs"
                                   role="button">回放</a>
                                <a href="#" class="btn-remove btn btn-danger btn-xs" role="button"
                                   data-id="<%= record.id %>">删除</a>
                                <% }else if(record.status === "running"){ %>
                                <a href="/records/<%= record.id %>/run" class="btn btn-info btn-xs" role="button">查看详情</a>
                                <a href="#" class="btn-cancel btn btn-danger btn-xs" role="button"
                                   data-id="<%= record.id %>">取消</a>
                                <% }else { %>
                                <a href="#" class="btn-remove btn btn-danger btn-xs" role="button"
                                   data-id="<%= record.id %>">删除</a>
                                <% } %>
                            </td>
                        </trj>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/records.js"></script>
<% include ../partials/footer.ejs %>
