<% include ../partials/header %>
<% include ../modals/modal_del_apk.ejs %>

<div id="apks">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">登记应用</h3>
                    </div>
                    <div class="panel-body">
                        <form id="apk-form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="name">待测应用名称</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="name" id="name" value="凤城卫士">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="version">应用版本</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="4.1" name="version" id="version">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="package_name">包名</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="com.cvicse.zhnt" name="package_name" id="package_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="activity_name">启动Activity</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="activity_name" id="activity_name" value=".LoadingActivity">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button id="btn-logapk" type="submit" class="btn btn-primary" >
                                        登记应用
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">已登记应用列表</h3>
                    </div>
                    <table class="table table-hover ">
                        <thead>
                        <tr>
                            <th>
                                名称
                            </th>
                            <th>
                                版本
                            </th>
                            <th>
                                包名
                            </th>
                            <th>
                                启动Act名
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody id="apk_table">
                        <% apks.forEach(function(apk){ %>
                        <tr>
                            <td>
                                <%= apk.name %>
                            </td>
                            <td>
                                <%= apk.version %>
                            </td>
                            <td>
                                <%= apk.package_name %>
                            </td>
                            <td>
                                <%= apk.activity_name %>
                            </td>
                            <td>
                                <a href="/apks/<%= apk._id %>/detail" class="btn btn-primary btn-xs" role="button"x>查看详细</a>

                                <a href="#" class="confirm-delete-apk btn btn-danger btn-xs" role="button"
                                   data-id="<%= apk._id %>"
                                   data-name="<%= apk.name %>">删除</a>

                            </td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/apks.js"></script>
<% include ../partials/footer.ejs %>