<% include ../partials/header %>
<div id="recordtestcase">
    <div style="padding-top: 10px;padding-left: 10px">
        <div style="width: 364px; float: left;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">设备屏幕 360 x 640 </h3>
                </div>
                <div class="panel-body" id="container">
                    <canvas id="canvas-device" width="360" height="640"></canvas>
                    <canvas id="canvas-wrapper" width="360" height="640"></canvas>
                </div>
            </div>
        </div>
        <div style="width: 800px; margin-left: 10px; float: left;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">控制台</h3>
                </div>
                <div class="panel-body" style="padding: 0;">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group " role="group">
                            <button type="button" class="btn btn-info" id="btn-stop"
                                    style="border-radius : 0">暂停录制
                            </button>
                        </div>
                        <div class="btn-group " role="group">
                            <button type="button" class="btn btn-primary" id="btn-finish"
                                    style="border-radius : 0" data-id="<%= testcase._id %>">提交用例
                            </button>
                        </div>
                    </div>

                    <div class="btn-group btn-group-justified" role="group" aria-label="...">

                        <div class="btn-group" role="group">
                            <button id="btn-back" type="button" class="btn btn-primary" style="border-radius : 0">Back
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btn-home" type="button" class="btn btn-primary" style="border-radius : 0">Home
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btn-menu" type="button" class="btn btn-primary" style="border-radius : 0">Menu
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btn-restart" type="button" class="btn btn-primary" style="border-radius : 0">
                                Restart
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btn-cleandata" type="button" class="btn btn-primary" style="border-radius : 0">
                                CleanData
                            </button>
                        </div>

                    </div>
                    <div class="input-group">
                        <div class="input-group-addon text-primary" style="border-radius : 0;">TextInput</div>
                        <input type="text" class="form-control" id="textinput" placeholder="在这里填写TextInput动作的输入"
                               style="border-radius : 0">
                    </div>
                    <div class="input-group">
                        <select class="form-control m-b"  id="actpath-select" data-id="<%= apk.id %>" style="border-radius : 0">
                            <% apk.actpaths.forEach(function(actpath){ %>
                            <option value="<%= actpath.activity_name %>">前往<%= actpath.activity_name %></option>
                            <% }); %>
                        </select>
                        <span class="input-group-btn">
                            <button id="btn-actpath"  class="btn btn-default" type="button" style="border-radius : 0">执行ActPath</button>
                         </span>
                    </div><!-- /input-group -->

                    <button id="btn-getactions" type="button" class="btn btn-info btn-block" style="border-radius : 0">
                        获取界面动作
                    </button>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">界面动作</h3>
                </div>
                <div class="panel-body" style="padding: 0;" id="action-panel">
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> 测试用例</h3>
                </div>
                <ul class="list-group" id="testcase">

                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var apk = <%- JSON.stringify(apk) %>;
</script>

<script src="/javascripts/recordtestcase.js"></script>
<script>
    /*jshint browser:true*/

    var BLANK_IMG =
            'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='

    var canvas = document.getElementById('canvas-device'),
            g = canvas.getContext('2d')

    var ws = new WebSocket('ws://localhost:3000', 'minicap')
    ws.binaryType = 'blob'

    ws.onclose = function () {
        console.log('onclose', arguments)
    }

    ws.onerror = function () {
        console.log('onerror', arguments)
    }

    ws.onmessage = function (message) {
        var blob = new Blob([message.data], {
            type: 'image/jpeg'
        })
        var URL = window.URL || window.webkitURL
        var img = new Image()
        img.onload = function () {
//            console.log(img.width, img.height)
//            canvas.width = img.width
//            canvas.height = img.height
//            g.scale(0.3,0.3);
            g.drawImage(img, 0, 0)
            img.onload = null
            img.src = BLANK_IMG
            img = null
            u = null
            blob = null
        }
        var u = URL.createObjectURL(blob)
        img.src = u
    }

    ws.onopen = function () {
        // console.log('onopen', arguments)
        ws.send('480x270/0')
    }
</script>
<% include ../partials/footer.ejs %>
