<% include ../partials/header %>
<div id="recordtestcase">
    <div style="padding-top: 10px;padding-left: 10px">
        <div style="width: 364px; float: left;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">设备屏幕 360 x 640 <span id="rec-span"
                                                                 class="text-danger icon ion-ios-circle-filled pull-right"> REC</span>
                    </h3>
                </div>
                <div class="panel-body" id="container">
                    <canvas id="canvas-device" width="360" height="640"></canvas>
                    <canvas id="canvas-wrapper" width="360" height="640"></canvas>
                </div>
            </div>
        </div>
        <div style="width: 800px; margin-left: 10px; float: left;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">控制台</h3>
                </div>
                <div class="panel-body" style="padding: 0;">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group " role="group">
                            <button type="button" class="btn btn-primary" id="btn-stop"
                                    style="border-radius : 0">
                                <span class="icon ion-ios-pause"> 暂停录制</span>

                            </button>
                        </div>

                        <div class="btn-group " role="group">
                            <button type="button" class="btn btn-primary" id="btn-cancel"
                                    style="border-radius : 0">
                                <span class="icon ion-stop"> 取消录制</span>

                            </button>
                        </div>

                        <div class="btn-group " role="group">
                            <button type="button" class="btn btn-primary" id="btn-finish"
                                    style="border-radius : 0" data-id="<%= testcase._id %>">
                                <span class="icon ion-paper-airplane"> 提交用例</span>
                            </button>
                        </div>

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" style="border-radius : 0">
                                <span class="icon ion-map">
                                    ActPath <span class="caret"></span>
                                </span>

                            </button>
                            <ul class="dropdown-menu">
                                <% apk.actpaths.forEach(function(actpath){ %>
                                <li><a class="actpath" data-activity="<%= actpath.activity %>" data-id="<%= apk.id %>"><%= actpath.activity %></a></li>
                                <% }); %>
                            </ul>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" style="border-radius : 0">


                                <span class="icon ion-document">
                                    Testcase <span class="caret"></span>
                                </span>

                            </button>
                            <ul class="dropdown-menu">

                                <% testcases.forEach(function(testcase){ %>
                                <li><a class="testcase" data-id="<%= testcase._id %>"><%= testcase.name %></a></li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>

                    <div class="btn-group btn-group-justified" role="group" aria-label="...">

                        <div class="btn-group" role="group">
                            <button id="btn-back" type="button" class="btn btn-primary" style="border-radius : 0">
                                <span class="icon ion-ios-arrow-back"> 返回</span>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btn-home" type="button" class="btn btn-primary" style="border-radius : 0">
                                <span class="icon ion-android-radio-button-off"> 主页</span>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btn-menu" type="button" class="btn btn-primary" style="border-radius : 0">
                                <span class="icon ion-android-checkbox-outline-blank"> 选项</span>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btn-restart" type="button" class="btn btn-primary" style="border-radius : 0">
                                <span class="icon ion-refresh"> 重启应用</span>

                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button alt="cleanData" id="btn-cleandata" type="button" class="btn btn-primary"
                                    style="border-radius : 0"><span class="icon ion-android-warning"> 清除数据</span>
                            </button>
                        </div>


                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">界面动作
                        <span id="btn-getactions" class="icon ion-refresh pull-right">   获取界面动作</span>
                    </h3>
                </div>
                <div class="panel-body" style="padding: 0;" id="action-panel">
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left"> 测试用例</h3>
                    <button id="btn-clear" class="btn btn-default pull-right btn-sm">清除所有动作</button>
                    <button id="btn-clear-last" class="btn btn-default pull-right btn-sm" style="margin-right: 5px">
                        清除最近一条动作
                    </button>
                    <div class="clearfix"></div>
                </div>
                <ul class="list-group" id="testcase">

                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var apk = <%- JSON.stringify(apk) %>;
</script>

<script src="/javascripts/recordtestcase.js"></script>
<script>
    /*jshint browser:true*/

    var BLANK_IMG =
            'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='

    var canvas = document.getElementById('canvas-device'),
            g = canvas.getContext('2d')

    var ws = new WebSocket('ws://localhost:3000', 'minicap')
    ws.binaryType = 'blob'

    ws.onclose = function () {
        console.log('onclose', arguments)
    }

    ws.onerror = function () {
        console.log('onerror', arguments)
    }

    ws.onmessage = function (message) {
        var blob = new Blob([message.data], {
            type: 'image/jpeg'
        })
        var URL = window.URL || window.webkitURL
        var img = new Image()
        img.onload = function () {
//            console.log(img.width, img.height)
//            canvas.width = img.width
//            canvas.height = img.height
//            g.scale(0.3,0.3);
            g.drawImage(img, 0, 0)
            img.onload = null
            img.src = BLANK_IMG
            img = null
            u = null
            blob = null
        }
        var u = URL.createObjectURL(blob)
        img.src = u
    }

    ws.onopen = function () {
        // console.log('onopen', arguments)
        ws.send('480x270/0')
    }
</script>
<% include ../partials/footer.ejs %>
